button {
    border: none;
    background: none;

    &:focus {
        outline: none;
    }

    &:active {
        width: 110px;
        height: 110px;
    }
    
    img {
        width: 100px;
        height: 100px;
    }
}

.resources {
    display: none;
}