@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');

// TODO: Media queries for title

h1 {
    font-family: 'Press Start 2P', cursive;
    text-align: center;
}

.game-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.slot-grid {
    img {
        width: 50px;
        float: left;
    }
}



button {
    border: none;
    background: none;

    &:focus {
        outline: none;
    }

    &:active {
        width: 110px;
        height: 110px;
    }
    
    img {
        width: 100px;
        height: 100px;
    }
}

