@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');

h1 {
    font-size: 2vw;
    font-family: 'Press Start 2P', cursive;
    text-align: center;
}

.game-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.slot-grid {
    height: 20vw;
    overflow: hidden;

    img {
        height: 20vw;
        width: 20vw;
        float: left;
    }
}


button {
    border: none;
    background: none;

    &:disabled {
        opacity: 0.3;        
    }

    &:focus {
        outline: none;
    }

    &:active:not(:disabled) {
        width: 110px;
        height: 110px;
    }
    
    img {
        width: 100px;
        height: 100px;
    }
}

.alert {
    font-family: 'Press Start 2P', cursive;    
    text-align: center;
}

.free-spin, .win {
    text-transform: uppercase;
}
.win {
    color: green;
}
.free-spin {
    color: red;
}

.hide {
    visibility: hidden;
}

.slide {
    margin-top: -30vw;
    animation: slide 0.5s forwards;
}

.show {
    opacity: 0;
    animation: show 0.5s ease-in;       
}

@keyframes slide {
    100% { margin-top: 0; }
}

@keyframes show {
    100% { opacity: 1; }
}